In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

data = pd.read_csv(r"C:\Users\Suvansh Vaid\Desktop\DataQuest\Workshop\Final Project\matches.csv")

In [2]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
id                 756 non-null int64
season             756 non-null int64
city               749 non-null object
date               756 non-null object
team1              756 non-null object
team2              756 non-null object
toss_winner        756 non-null object
toss_decision      756 non-null object
result             756 non-null object
dl_applied         756 non-null int64
winner             752 non-null object
win_by_runs        756 non-null int64
win_by_wickets     756 non-null int64
player_of_match    752 non-null object
venue              756 non-null object
umpire1            754 non-null object
umpire2            754 non-null object
umpire3            119 non-null object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,18-04-2008,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,19-04-2008,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,19-04-2008,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,20-04-2008,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,20-04-2008,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [3]:
data['winner'].fillna('Draw', inplace = True)

In [4]:
data[pd.isnull(data['winner'])]

Empty DataFrame
Columns: [id, season, city, date, team1, team2, toss_winner, toss_decision, result, dl_applied, winner, win_by_runs, win_by_wickets, player_of_match, venue, umpire1, umpire2, umpire3]
Index: []

In [5]:
data1 = data.drop(["id", "season", "date", "result","dl_applied", "win_by_runs", "win_by_wickets" ,"player_of_match", "umpire1", "umpire2", "umpire3"], axis = 1)

In [6]:
data1.head()

,city,team1,team2,toss_winner,toss_decision,winner,venue
0,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders,M Chinnaswamy Stadium
1,Chandigarh,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali"
2,Delhi,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,Delhi Daredevils,Feroz Shah Kotla
3,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,Wankhede Stadium
4,Kolkata,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,Kolkata Knight Riders,Eden Gardens

In [7]:
data1.replace(['Kings XI Punjab', 'Royal Challengers Bangalore','Sunrisers Hyderabad', 'Mumbai Indians', 'Delhi Daredevils', 'Chennai Super Kings','Kolkata Knight Riders', 'Rajasthan Royals', 'Delhi Capitals'], ['KXIP', 'RCB', 'SRH', 'MI', 'DC', 'CSK', 'KKR', 'RR', 'DC'], inplace = True)

In [8]:
data1.drop(data1[data1['team1'] == 'Gujarat Lions'].index, inplace = True)
data1.drop(data1[data1['team2'] == 'Gujarat Lions'].index, inplace = True)
data1.drop(data1[data1['team1'] == 'Rising Pune Supergiants'].index, inplace = True)
data1.drop(data1[data1['team2'] == 'Rising Pune Supergiants'].index, inplace = True)
data1.drop(data1[data1['team1'] == 'Rising Pune Supergiant'].index, inplace = True)
data1.drop(data1[data1['team2'] == 'Rising Pune Supergiant'].index, inplace = True)
data1.drop(data1[data1['team1'] == 'Deccan Chargers'].index, inplace = True)
data1.drop(data1[data1['team2'] == 'Deccan Chargers'].index, inplace = True)
data1.drop(data1[data1['team1'] == 'Kochi Tuskers Kerala'].index, inplace = True)
data1.drop(data1[data1['team2'] == 'Kochi Tuskers Kerala'].index, inplace = True)
data1.drop(data1[data1['team1'] == 'Pune Warriors'].index, inplace = True)
data1.drop(data1[data1['team2'] == 'Pune Warriors'].index, inplace = True)

In [9]:
data1.head()

,city,team1,team2,toss_winner,toss_decision,winner,venue
0,Bangalore,KKR,RCB,RCB,field,KKR,M Chinnaswamy Stadium
1,Chandigarh,CSK,KXIP,CSK,bat,CSK,"Punjab Cricket Association Stadium, Mohali"
2,Delhi,RR,DC,RR,bat,DC,Feroz Shah Kotla
3,Mumbai,MI,RCB,MI,bat,RCB,Wankhede Stadium
5,Jaipur,KXIP,RR,KXIP,bat,RR,Sawai Mansingh Stadium

In [10]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 571 entries, 0 to 755
Data columns (total 7 columns):
city             564 non-null object
team1            571 non-null object
team2            571 non-null object
toss_winner      571 non-null object
toss_decision    571 non-null object
winner           571 non-null object
venue            571 non-null object
dtypes: object(7)
memory usage: 35.7+ KB

In [11]:
data1[pd.isnull(data1['city'])]

,city,team1,team2,toss_winner,toss_decision,winner,venue
402,NaN,MI,RCB,RCB,field,RCB,Dubai International Cricket Stadium
403,NaN,KKR,DC,KKR,bat,DC,Dubai International Cricket Stadium
407,NaN,CSK,RR,RR,field,CSK,Dubai International Cricket Stadium
409,NaN,SRH,DC,SRH,bat,SRH,Dubai International Cricket Stadium
410,NaN,MI,CSK,MI,bat,CSK,Dubai International Cricket Stadium
415,NaN,RCB,KXIP,KXIP,field,KXIP,Dubai International Cricket Stadium
417,NaN,SRH,MI,MI,field,SRH,Dubai International Cricket Stadium

In [12]:
data1 = data1.dropna(how = 'any')

In [13]:
data1.head()

,city,team1,team2,toss_winner,toss_decision,winner,venue
0,Bangalore,KKR,RCB,RCB,field,KKR,M Chinnaswamy Stadium
1,Chandigarh,CSK,KXIP,CSK,bat,CSK,"Punjab Cricket Association Stadium, Mohali"
2,Delhi,RR,DC,RR,bat,DC,Feroz Shah Kotla
3,Mumbai,MI,RCB,MI,bat,RCB,Wankhede Stadium
5,Jaipur,KXIP,RR,KXIP,bat,RR,Sawai Mansingh Stadium

In [14]:
data1.head()
data1['team1'].unique()

array(['KKR', 'CSK', 'RR', 'MI', 'KXIP', 'RCB', 'DC', 'SRH'], dtype=object)

In [15]:
encode_team = {'team1': {'MI':1, 'KKR':2, 'RCB':3, 'CSK':4, 'RR':5, 'KXIP':6, 'DC':7, 'SRH':8},
         'team2': {'MI':1, 'KKR':2, 'RCB':3, 'CSK':4, 'RR':5, 'KXIP':6, 'DC':7, 'SRH':8},
         'toss_winner': {'MI':1, 'KKR':2, 'RCB':3, 'CSK':4, 'RR':5, 'KXIP':6, 'DC':7, 'SRH':8},
         'winner': {'MI':1, 'KKR':2, 'RCB':3, 'CSK':4, 'RR':5, 'KXIP':6, 'DC':7,'SRH':8}}
data1.replace(encode_team, inplace= True)
lab = LabelEncoder()

data1['city'] = lab.fit_transform(data1['city'])
data1['toss_decision'] = lab.fit_transform(data1['toss_decision'])
data1['venue'] = lab.fit_transform(data1['venue'])

data1.head()

   city  team1  team2  toss_winner  toss_decision winner  venue
0     2      2      3            3              1      2     15
1     7      4      6            4              0      4     24
2    10      5      7            5              0      7      8
3    21      1      3            1              0      3     35
5    16      6      5            6              0      5     28

In [16]:
print(data1)
data1['winner'].unique()

     city  team1  team2  toss_winner  toss_decision winner  venue
0       2      2      3            3              1      2     15
1       7      4      6            4              0      4     24
2      10      5      7            5              0      7      8
3      21      1      3            1              0      3     35
5      16      6      5            6              0      5     28
7       8      4      1            1              1      4     18
9       7      6      1            1              1      6     24
10      2      3      5            5              1      5     15
11      8      2      4            2              0      4     18
13      7      7      6            7              0      6     24
14      2      4      3            4              0      4     15
15     19      2      1            2              0      1      7
16     10      7      3            3              1      7      8
18     16      5      2            5              0      5     28
19      8      4      7            4              0      7     18
21      7      6      2            6              0      6     24
22     21      1      7            7              1      1      5
23     16      4      5            4              0      5     28
24      2      3      6            6              1      6     15
26     21      5      1            1              1      1      5
27     10      7      4            4              1      4      8
28     19      2      3            2              0      2      7
30      2      3      1            1              1      1     15
31      8      4      6            6              1      4     18
33     16      7      5            5              1      5     28
34      7      3      6            3              0      6     24
35     19      2      7            2              0      2      7
36     21      4      1            1              1      1     35
37      7      6      5            5              1      6     24
39     21      2      1            1              1      1     35
..    ...    ...    ...          ...            ...    ...    ...
726    21      3      1            1              1      1     35
727    20      6      5            5              1      6     12
728    14      4      8            4              0      8     26
729    10      1      7            1              0      1      9
730    19      3      2            2              1      3      7
731    16      1      5            5              1      5     28
732    10      6      7            7              1      7      9
733    14      2      8            8              1      8     26
734     3      3      4            4              1      3     17
735    16      5      7            7              1      7     28
736     8      8      4            4              1      4     16
737     3      3      6            6              1      3     17
738    19      2      5            5              1      5      7
739     8      1      4            4              1      1     16
740    16      8      5            5              1      5     28
741    10      7      3            7              0      7      9
742    19      2      1            1              1      2      7
743    14      8      6            6              1      8     26
744     3      3      5            5              1   Draw     17
745     8      4      7            7              1      4     16
746    21      1      8            1              0      1     35
747    20      6      2            2              1      2     12
748    10      5      7            5              0      7      9
749     3      8      3            3              1      3     17
750    20      4      6            6              1      6     12
751    21      2      1            1              1      1     35
752     8      4      1            4              0      1     16
753    27      8      7            7              1      7      0
754    27      7      4            4              1      4      0
755    14      1      4            1              0      1     26

[564 rows x 7 columns]

array([2, 4, 7, 3, 5, 6, 1, 8, 'Draw'], dtype=object)

In [17]:
data1.reset_index(drop=True, inplace=True)

In [18]:
data1['winner'].unique()

array([2, 4, 7, 3, 5, 6, 1, 8, 'Draw'], dtype=object)

In [19]:
data1.drop(data1[data1['winner'] == 'Draw'].index, inplace = True)

In [20]:
data1['winner'].unique()

array([2, 4, 7, 3, 5, 6, 1, 8], dtype=object)

In [21]:
data1['city'].unique()

array([ 2,  7, 10, 21, 16,  8, 19,  5, 22, 12,  6, 13, 17, 18,  4,  1, 11,
       23, 14, 24, 25,  0, 26,  9, 27, 15, 20,  3], dtype=int64)

In [22]:
X = data1.drop(['winner'], axis = 1)

Y = data1['winner']

In [23]:
x_train = np.array(X.iloc[:556, :])
x_train = x_train.astype('int')
y_train = np.array(Y.iloc[:556])
y_train = y_train.astype('int')

In [24]:
X.shape

(561, 6)

In [25]:
Y.shape

(561,)

In [26]:
x_test = X.iloc[-5:,:] 
y_test = Y.iloc[-5:]

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

logisticRegr = LogisticRegression()

logisticRegr.fit(x_train, y_train)

C:\Users\Suvansh Vaid\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Suvansh Vaid\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [28]:
predict = logisticRegr.predict(x_test[0:])

In [29]:
y_test

559    1
560    1
561    7
562    4
563    1
Name: winner, dtype: object

In [30]:
score = 0
for i,each in enumerate(y_test):
    if each == predict[i]:
        score = score + 1
accuracy = (score / len(y_test)) * 100
print(accuracy)

80.0

In [31]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 2)

knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [32]:
predict = knn.predict(x_test)
print(predict)

[1 1 5 5 5]

In [33]:
score = 0
for i,each in enumerate(y_test):
    if each == predict[i]:
        score = score + 1
accuracy = (score / len(y_test)) * 100
print(accuracy)

40.0

In [34]:
from sklearn.ensemble import RandomForestClassifier
x_train = pd.DataFrame(x_train)

rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)

predict = rfc.predict(x_test)

C:\Users\Suvansh Vaid\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [35]:
score = 0
for i,each in enumerate(y_test):
    if each == predict[i]:
        score = score + 1
accuracy = (score / len(y_test)) * 100
print(accuracy)

80.0

In [36]:
# To find out the importance of each feature in determing the outcome class.

print(rfc.feature_importances_)

[0.16526468 0.19775659 0.23667659 0.16362666 0.03336764 0.20330785]

In [37]:
from PIL import ImageTk, Image

path1 = 'C:/xxxx/xxxx.jpg'
path2 = 
path3 = 
path4 = 
path5 = 
path6 = 

img1 = ImageTk.PhotoImage(Image.open(path))
img2 = ImageTk.PhotoImage(Image.open(path))
img3 = ImageTk.PhotoImage(Image.open(path))
img4 = ImageTk.PhotoImage(Image.open(path))
img5 = ImageTk.PhotoImage(Image.open(path))
img6 = ImageTk.PhotoImage(Image.open(path))


panel = tk.Label(root, image = img)
panel.pack(side = "bottom", fill = "both", expand = "yes")
root.mainloop()

SyntaxError: invalid syntax (<ipython-input-37-4569e3512b0d>, line 4)

In [ ]:
from tkinter import *
import tkinter

window = Tk()
window.geometry("1366x768")
window.title(string = 'AI & ML Workshop Project 2019')

frame1 = Frame(window)
frame1.pack(side = TOP, fill = X)

frame2 = Frame(window)
frame2.pack(side = TOP, fill = X)

frame3 = Frame(window)
frame3.pack(side = TOP, fill = X)

frame4 = Frame(window)
frame4.pack(side = TOP, fill = X)

frame5 = Frame(window)
frame5.pack(side = TOP, fill = X)

frame6 = Frame(window)
frame6.pack(side = TOP, fill = X)
 
label1 = tkinter.Label(frame1, text = "Welcome to IPL Winner Predictor!",font=("Arial Bold",16))
label1.pack(side = TOP, fill =X)
label2 = tkinter.Label(frame1, text = "We have used a dataset of IPL history from 2008 to 2019. The data set has been extracted from kaggle !", font=("Helvetica",14))
label2.pack(side = TOP, fill = X)

label3 = tkinter.Label(frame2, text = "Let us first explore the original data set")
label3.grid(row= 1, column = 0, padx= 10, pady =10)


def call_b1():
    b1_d = data.iloc[:5,:]
    print_records = ''
    for each in b1_d.head().itertuples():
        print_records += str(each) + '\n'
        
    print(print_records)

button1 = tkinter.Button(frame2, text="Original Data Set")
button1.grid(row=1, column = 2)
    
label4 =  tkinter.Label(frame3, text = "    Now coming to the essential part of cleaning our data.")
label4.grid(row= 0, column = 0, sticky = "W")
label5 =  tkinter.Label(frame3, text = "    We removed the drawn matches and also the non-existant teams for IPL 2020")
label5.grid(row= 1, column = 0, sticky = "W")
label6 =  tkinter.Label(frame3, text = "    The resultant dataset after cleaning has a shape of 564 X 7")
label6.grid(row= 2, column = 0, sticky = "W")

button2 = tkinter.Button(frame3, text="Dataset after cleaning")
button2.grid(row= 2, column = 1)
 

label4 =  tkinter.Label(frame4, text = "    Data is finally ready for training !")
label4.grid(row= 1, column = 0)
button3 = tkinter.Button(frame4, text="x_train")
button3.grid(row= 2, column = 0, padx =5, pady = 5)
button4 = tkinter.Button(frame4, text="y_train")
button4.grid(row= 2, column = 1, padx = 5, pady = 5)
button5 = tkinter.Button(frame4, text="x_test")
button5.grid(row= 3, column = 0, padx = 5, pady = 5)
button6 = tkinter.Button(frame4, text="y_test")
button6.grid(row= 3, column = 1, padx=5, pady = 5)


label7 =  tkinter.Label(frame5, text = "    Following Machine Learning Models were used. Click on each to see the results and accuracy!")
label7.grid(row= 0, column = 0)
button7 = tkinter.Button(frame5, text="Logistic Regression")
button7.grid(row= 0, column = 1, padx = 5, pady = 5)
button8 = tkinter.Button(frame5, text="K-nearest Neighbors")
button8.grid(row= 0, column = 2, padx = 5, pady = 5)
button9 = tkinter.Button(frame5, text="Random Forest Classifier")
button9.grid(row= 0, column = 3, padx =5, pady = 5)



window.mainloop()